<form class="form-signin form-signup hide" role="form">
    <div class="page-card-body">
        <div class="form-group">
            <label class="form-label sr-only" for="signup_fullname">{{ _("Full Name") }}</label>
            <input type="text" id="signup_fullname" class="form-control" placeholder="{{ _('Jane Doe') }}"
                required autofocus autocomplete="name">
        </div>
        <div class="form-group">
            <label class="form-label sr-only" for="signup_email">{{ _("Email") }}</label>
            <input type="email" id="signup_email" class="form-control"
                placeholder="{{ _('jane@example.com') }}" required autocomplete="username">
        </div>
        <div class="form-group">
            <label class="form-label sr-only" for="signup_role">{{ _("Role") }}</label>
            <select id="role" class="form-control chosen-select" required autocomplete="role">
                <option value="">{{ _('Select Role') }}</option>
                <option value="role_option_1">{{ _('Student') }}</option>
                <option value="role_option_2">{{ _('Faculty') }}</option>
                <option value="role_option_2">{{ _('Accountant') }}</option>
            </select>
        </div>
    </div>
    <div class="page-card-actions">
        <button class="btn btn-sm btn-primary btn-block btn-signup"
            type="submit">{{ _("Sign up") }}</button>

        <p class="text-center sign-up-message">
            <a href="#login" class="blue">{{ _("Have an account? Login") }}</a>
        </p>
    </div>
</form>
